canvas#spritesheet {
	cursor: pointer;
}

#spritesheet_editor {
	background: none repeat scroll 0 0 #f9f9f9;
	border: 1px solid #aaa;
	border-radius: 5px;
	display: inline-block;
	margin: 10px 0 15px;
	padding: 0 10px 10px;
}

.skin-hydradark #spritesheet_editor {
	background: none repeat scroll 0 0 #181818;
	border: 1px solid #080808;
}

	#spritesheet_editor fieldset {
		border: 0 none;
		margin: 0;
		padding: 0;
		position: relative;
	}

		#spritesheet_editor fieldset legend {
			font-size: 1em;
			font-weight: bold;
			margin-top: -1.1em;
			text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
		}

		.skin-hydradark #spritesheet_editor fieldset legend {
			text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
		}

pre#sprite_preview {
	line-height: 1em;
	min-height: 1em;
}

div.sprite {
	display: inline-block;
	overflow: hidden;
	position: relative;
}

	div.sprite > img {
		position: absolute;
	}

.named_sprite_popup {
	background: none repeat scroll 0 0 #ffffff;
	border: 3px solid #000000;
	border-radius: 10px;
	display: none;
	margin-top: -12px;
	padding: 6px;
	position: absolute;
	z-index: 1000;
}

.skin-hydradark .named_sprite_popup {
	background: none repeat scroll 0 0 #000000;
	border: 3px solid #ffffff;
}

.named_sprite_popup:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 15px 14px;
	border-color: #FFFFFF transparent;
	display: block;
	width: 0;
	z-index: 1;
	margin-left: -15px;
	top: -14px;
	left: 11%;
}

.skin-hydradark .named_sprite_popup:after {
	border-color: #000 transparent;
}

.named_sprite_popup:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 17px 16px;
	border-color: #000000 transparent;
	display: block;
	width: 0;
	z-index: 0;
	margin-left: -17px;
	top: -19px;
	left: 11%;
}

.skin-hydradark .named_sprite_popup:before {
	border-color: #fff transparent;
}

	.named_sprite_popup > input {
		background: none repeat scroll 0 0 #ddd;
		border: 2px solid black;
		padding: 3px;
	}

.named_sprite_popup .close:before, .named_sprite_popup .close:after {
	content: "";
	left: 0;
	position: absolute;
	top: 50%;
}

.named_sprite_popup a.close:after {
	background: #000;
	height: 2px;
	left: 3px;
	margin-top: -1px;
	transform: rotate(45deg);
	width: 10px;
}

.named_sprite_popup a.close:before {
	background: #000;
	height: 10px;
	left: 7px;
	margin-top: -5px;
	transform: rotate(45deg);
	width: 2px;
	z-index: 10;
}

.named_sprite_popup a.close {
	background: none repeat scroll 0 0 white;
	border: 2px solid black;
	border-radius: 16px;
	cursor: pointer;
	display: block;
	height: 16px;
	position: absolute;
	right: -11px;
	text-decoration: none;
	top: -11px;
	width: 16px;
}

.named_sprite_popup a.close:hover {
	background: #ccc;
}

#named_sprites ul li {
	cursor: pointer;
}

#named_sprite_editor {
	margin-top: 0;
	position: absolute;
	top: 0;
}

@-webkit-keyframes saveSheetPulse {
	from { box-shadow: 0px 0px 5px 5px rgba(97, 166, 235, 1); }
	to { box-shadow: 0px 0px 5px 5px rgba(97, 166, 235, 0); }
}

@keyframes saveSheetPulse {
	from { box-shadow: 0px 0px 5px 2px rgba(97, 166, 235, 1); }
	to { box-shadow: 0px 0px 5px 2px rgba(97, 166, 235, 0); }
}

#save_sheet {
	background: none repeat scroll 0 0 white;
	border: 1px solid #555;
	border-radius: 5px;
}

#save_sheet:disabled {
	border-color: #d4d4d4;
}

#save_sheet.pulse {
    -webkit-animation-duration: 2s;
    -webkit-animation-name: saveSheetPulse;
	-webkit-animation-iteration-count: infinite;
    animation: 2s ease 0s normal none infinite running saveSheetPulse;
    box-shadow: 0 0 5px 5px rgba(97, 166, 235, 1);
}

#spritesheet_editor .previous_revision, #spritesheet_editor .current_revision {
	display: inline-block;
	font-weight: bold;
	margin-top: 6px;
}

#spritesheet_editor .previous_revision {
	color: rgba(237, 102, 102, 1);
}

#spritesheet_editor .current_revision {
	color: rgba(78, 245, 117, 1);
}