canvas#spritesheet {
	cursor: pointer;
}

#spritesheet_editor {
	background: none repeat scroll 0 0 #f9f9f9;
	border: 1px solid #aaa;
	border-radius: 5px;
	display: inline-block;
	margin: 10px 0;
	padding: 0 10px 10px;
}

.skin-hydradark #spritesheet_editor {
	background: none repeat scroll 0 0 #181818;
	border: 1px solid #080808;
}

	#spritesheet_editor fieldset {
		border: 0 none;
		margin: 0;
		padding: 0;
	}

		#spritesheet_editor fieldset legend {
			font-size: 1em;
			font-weight: bold;
			margin-top: -1.1em;
		}

pre#sprite_preview {
	line-height: 1em;
	min-height: 1em;
}

.sprite {
	overflow: hidden;
	position: relative;
}

	.sprite > img {
		position: absolute;
	}